.scroll-wrap{
    overflow:hidden;
    position : relative;
}
.scroll-tool {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 5px;
}
.scroll-handler{
    position:absolute;
    width:100%;
    border-radius: 5px;
}

.scroll-content{
    position:absolute;
}